{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <main class="container">
            <h1>Menu d'administration</h1>
            <h5>Ajouter un utilisateur</h5>
            <form class="col s12" method="post" action="/index.php?c=user&a=add-user">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate" name="username">
                        <label for="first_name">Nom de l'utilisateur</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" name="email">
                        <label for="last_name">Email de l'utilisateur</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="password" class="validate" name="password">
                        <label for="last_name">Mot de passe de l'utilisateur</label>
                    </div>
                </div>
                <input type="submit" name="save" id="button_submit">
            </form>
        </main>
    {% endblock %}
{% endblock %}